*,html,body, *::before, *::after{
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(20deg,black 2%, #147b7b,  #000000 98%);
  @media (max-width: 991px){
    flex-direction: column;
  }
  &>div{
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    max-width: 100%;

  }
  .buttons{
   display: flex;
    max-width: 100%;
  }
}

